.hs-text {
    text-align: center;
    margin-top: 20vh;
}
.hs-text {
    color: aliceblue;
}
.bg-cover.nav-header {
    background: url("https://turtle-database.s3-ap-southeast-2.amazonaws.com/background/bg_home.png") center fixed;
}